ONASYS_TOKEN_URL=http://api.wrb.onasys.com.br/security/token
ONASYS_INTERNAL_BASE=http://192.168.25.240/apiwrb
ONASYS_EXTERNAL_BASE=http://api.wrb.onasys.com.br
ONASYS_GRANT_TYPE=password
ONASYS_USERNAME=USUARIO
ONASYS_PASSWORD="SENHA"
ONASYS_CLIENT_ID=postman:123
ONASYS_CLIENT_SECRET=
ONASYS_SCOPE=
ONASYS_EXTRA_PARAMS=
ONASYS_REFRESH_MS=120000
